<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">CRUD</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/consulta">Consultar</a></li>
            <li><a href="#">Actualizar</a></li>
            <li><a href="#">Eliminar</a></li>
          </ul>
        </div>
      </nav>
      ...